# **Employee Salaries Exercise**

### **Load Necessary libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# ** Read Salaries.csv as a dataframe called sal.**

In [2]:
# for jupyter
#sal = pd.read_csv('C:/Users/Desktop/Salaries.csv')

# for colab
sal = pd.read_csv('Salaries.csv')

In [3]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [4]:
sal.JobTitle[:3]

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                   CAPTAIN III (POLICE DEPARTMENT)
2                   CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

In [5]:
# change JobTitle data type to category
sal.JobTitle = sal.JobTitle.astype('category')

In [6]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  category
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: category(1), float64(8), int64(2), object(2)
memory usage: 14.0+ MB

In [ ]:
sal.JobTitle

In [7]:
# reduce bit size
sal.BasePay = sal.BasePay.astype('float16')

/usr/local/lib/python3.10/dist-packages/pandas/core/dtypes/astype.py:133: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

In [8]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  category
 3   BasePay           148045 non-null  float16
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: category(1), float16(1), float64(7), int64(2), object(2)
memory usage: 13.1+ MB

# ** Check the head of the DataFrame. **

In [12]:
#sal.head(3)
sal[102:106]  # stop is exclusive

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
102,103,LAUIFI SEUMAALA,FIREFIGHTER,inf,98534.35,18890.96,NaN,223360.00,223360.00,2011,NaN,San Francisco,NaN
103,104,EDWARD DENNIS,TRANSIT SUPERVISOR,inf,126778.88,7228.67,NaN,222408.25,222408.25,2011,NaN,San Francisco,NaN
104,105,PATRIC STEELE,FIREFIGHTER,inf,97395.59,18760.77,NaN,222091.00,222091.00,2011,NaN,San Francisco,NaN
105,106,MICHAEL WALSH,FIREFIGHTER,inf,83670.04,27043.61,NaN,221188.58,221188.58,2011,NaN,San Francisco,NaN

In [14]:
# Check nan values
sal.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                609
OvertimePay              4
OtherPay                 4
Benefits             36163
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              148654
dtype: int64

In [16]:
len(sal)

148654

In [25]:
# Check % on NaN
#sal.isna().sum().apply(lambda val:round((val/len(sal))*100,2))
sal.isna().mean()*100

Id                    0.000000
EmployeeName          0.000000
JobTitle              0.000000
BasePay               0.409676
OvertimePay           0.002691
OtherPay              0.002691
Benefits             24.326961
TotalPay              0.000000
TotalPayBenefits      0.000000
Year                  0.000000
Notes               100.000000
Agency                0.000000
Status              100.000000
dtype: float64

In [ ]:
#total records , rows and columns
print('Total number of rows:',sal.shape[0])
print('Total number of columns:',sal.shape[1])

In [ ]:
#check feature names
sal.columns

In [ ]:
#drop Notes ,'Agency' and Status columns bcz they have 100% missing values
sal.drop(columns=['Id','Notes','Status','Agency'],inplace=True)

In [ ]:
#check new shape
print('Total number of columns after deletiion :',sal.shape[1])

In [ ]:
#check columns
sal.columns

In [ ]:
# keep one copy of dataframe to rollback
sal_copy = sal.copy()

In [ ]:
sal.isna().sum()

In [ ]:
#fill BasePay NaN by using some technique
#sal.BasePay.isna().sum()
sal.BasePay.describe()

In [ ]:
# how many employees getting -ve basepay
sal.query('BasePay<=0').shape[0]

In [ ]:
# fetch index of above employee
sal.query('BasePay<=0').index

In [ ]:
sal.drop(index=sal.query('BasePay<=0').index,inplace=True)

In [ ]:
sal.query('BasePay<=0').shape[0]

In [ ]:
# fill missing values in BasePay using mean
# mean      66917.13
# calculate mean of BasePay
sal.BasePay.mean()

In [ ]:
sal.BasePay.fillna(66917,inplace=True)

In [ ]:
sal.BasePay

In [ ]:
# Assignmnet: Round the basePay

In [ ]:
sal.BasePay.plot(kind='box')

In [ ]:
# fill NaN value in BasePay
sal.BasePay = sal.BasePay.fillna(66319.52)

In [ ]:
sal.BasePay.isna().sum()

In [ ]:
#check BasePay of Transit Operator
#sal[sal.JobTitle == 'Transit Operator']
#sal.groupby('JobTitle').get_group('Transit Operator')
sal.query('JobTitle == "Transit Operator"')

In [ ]:
#check duplicate rows
sal[sal.duplicated()]

we dont have duplicate records

In [ ]:
sal.isna().any()

# ** find out how many entries are there **

In [ ]:
#number of rows
sal.shape[0]

In [ ]:
len(sal)

In [ ]:
# No. records present in 2014
len(sal.query('Year==2014'))

#sal.query('Year==2014').shape[0]

In [ ]:
#lets check integrity of data
sal.query('Year==2014')['TotalPay'].plot(kind='box')

In [ ]:
sal.query('Year==2014')['TotalPay'].plot(kind='hist',bins=[0,100000,200000,300000])

In [ ]:
sal.query('Year==2014')['TotalPay'].nsmallest()

In [ ]:
# How many employee getting 0> total Pay
sum(sal.TotalPay <= 0)

In [ ]:
# display records of employee getting TotalPay <=0
sal.query('TotalPay<=0')

In [ ]:
# how many are there whose post is Not provided
sal.query('JobTitle=="Not provided"')

# **What is the average BasePay ?**

In [ ]:
sal['BasePay'].mean()

# ** What is the highest amount of OvertimePay in the dataset ? **

In [ ]:
sal.OvertimePay.max()

## Fetch record of Highest paid employee

In [ ]:
#sal.query('TotalPayBenefits==TotalPayBenefits.max()')
sal[sal.TotalPayBenefits == sal.TotalPayBenefits.max()]

In [ ]:
#Fetch name of highest Overtime pay employee
#sal.query('OvertimePay==OvertimePay.max()')['EmployeeName']
sal.query('OvertimePay==OvertimePay.max()').EmployeeName

# ** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
sal.query('EmployeeName=="JOSEPH DRISCOLL"')

In [ ]:
#fetch both Joseph records lower and upper case
sal[sal['EmployeeName'].str.contains('joseph driscoll',case=False)]

In [ ]:
# Yearwise average TotalPay
#sal.query('Year==2014')['TotalPay'].mean()
sal.groupby('Year')['TotalPay'].mean()

# ** How much does JOSEPH DRISCOLL make (including benefits)? **

In [ ]:
sal.query('EmployeeName=="JOSEPH DRISCOLL"').TotalPayBenefits

In [ ]:
# I want mean, sum, std of TotalPay	TotalPayBenefits
sal[['TotalPay','TotalPayBenefits']].agg([np.mean,np.sum,np.std])

In [ ]:
# Create a new feature Bonus : condition is=Add 20% of BasePay into TotalPay
sal ['Bonus'] = sal.BasePay*.2 + sal.TotalPay

In [ ]:
sal.Bonus

In [ ]:
# Fetch CAPTAIN III (POLICE DEPARTMENT) whose TotalPay is> 400000
sal.query('JobTitle=="CAPTAIN III (POLICE DEPARTMENT)" & TotalPay>400000')

In [ ]:
# yearwise sum of BasePay and average basePay
sal.groupby('Year')['BasePay'].agg([np.sum,np.mean])

# ** What is the name, Job title of highest paid person (including benefits)?**

# ** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

# ** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
# Yearwise Average BasePay

# ** How many unique job titles are there? **

# ** What are the top 5 most common jobs? **

# How many are there those work as a POLICE OFFICER III

# In which department we have least employees?

# Fetch record of year 2011 where Basepay 200000

# How much average basepay is given to employees inthe year 2013

# Plot.the % distribustion of Yearwise TotalPay

# How many employees getting 0 overtimePay?